version: '3.8'

services:
  db:
    container_name: ${PROJECT_NAME}_mariadb
    image: mariadb:${MARIADB_VER}
    restart: always
    volumes:
      - db_data:/var/lib/mysql
    env_file: .env
    environment:
      MYSQL_ROOT_PASSWORD: $MARIADB_ROOT_PASS
      MYSQL_DATABASE: $DB_NAME
      MYSQL_USER: $MARIADB_USER
      MYSQL_PASSWORD: $MARIADB_PASS

  wordpress:
    container_name: ${PROJECT_NAME}_wordpress
    depends_on:
      - db
    image: wordpress:${WORDPRESS_TAG}
    ports:
      - "8000:80"
    restart: always
    volumes:
      - wp_data:/var/www/html
    env_file: .env
    environment:
      WORDPRESS_DEBUG: 1
      DEVEOPMENT: 1
      WORDPRESS_DB_HOST: db:3306
      WORDPRESS_DB_NAME: $DB_NAME
      WORDPRESS_DB_USER: $MARIADB_USER
      WORDPRESS_DB_PASSWORD: $MARIADB_PASS

  phpmyadmin:
    container_name: ${PROJECT_NAME}_phpmyadmin
    image: phpmyadmin:latest
    ports:
      - "8001:80"
    restart: always
    environment:
      PMA_HOST: db

volumes:
  db_data:
  wp_data: